{% extends "base.html" %}

{% block content %}

    <!-- Images -->
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
          <div class="col">Img1</div>
          <div class="col">Img2</div>
          <div class="col">Img3</div>
          <div class="col">Img4</div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col">Img5</div>
            <div class="col">Img6</div>
            <div class="col">Img7</div>
            <div class="col">Img8</div>
        </div>
    </div>

{% endblock %}

