{% extends "base.html" %}

{% block content %}

    <!-- Images -->
    <div class="container mt-2">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <img src="static/CoffImgs/coffee1.jpg" class="d-block w-25 h-25" alt="coffee2">
            <img src="static/CoffImgs/coffee1.jpg" class="d-block w-25 h-25" alt="coffee2">
            <img src="static/CoffImgs/coffee1.jpg" class="d-block w-25 h-25" alt="coffee2">
            <img src="static/CoffImgs/coffee1.jpg" class="d-block w-25 h-25" alt="coffee2">
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <img src="static/CoffImgs/coffee1.jpg" class="d-block w-25 h-25" alt="coffee2">
            <img src="static/CoffImgs/coffee1.jpg" class="d-block w-25 h-25" alt="coffee2">
            <img src="static/CoffImgs/coffee1.jpg" class="d-block w-25 h-25" alt="coffee2">
            <img src="static/CoffImgs/coffee1.jpg" class="d-block w-25 h-25" alt="coffee2">
        </div>
    </div>

{% endblock %}

