{% extends "base.html" %}

{% block content %}

  <div class="container mt-2">
    <div class="row">
      {% for location in locations %}
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center">{{ location.city }}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">{{ location.address }}</h6>
            <!-- Insert Image Here -->
            <p class="card-text text-dark text-center">{{ location.number }}</p>
            <p class="card-text text-dark text-center">M-F: 8am - 11pm</p>
            <p class="card-text text-dark text-center">Sat | Sun: 10am - 10pm</p>
          </div>
          <img class="card-img-bottom" src='{{ location.image }}' alt="Card image cap">
        </div>
      </div>
      {% endfor %}
  </div>
    
    
{% endblock %}



