{% extends "baseEmpty.html" %}

{% block content %}

<!-- Page Title -->
<div class="container">
    <h1 class="text-uppercase text-white font-weight-light text-center">staff</h1>
</div>

<!-- Information / Buttons -->
<div class="container mb-2">
    <div class="row">
        <div class="col-sm ">
            <p class="text-uppercase text-white font-weight-light text-center">Current Ceo: Evan Puzon</p>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light active">
                  <input type="radio" name="options" id="option1" checked> Roasters
                </label>
                <label class="btn btn-light">
                  <input type="radio" name="options" id="option2"> Coffee Wrangler 
                </label>
                <label class="btn btn-light">
                  <input type="radio" name="options" id="option3">Store Manager
                </label>
              </div>
        </div>
    </div>
</div>

<!-- List of Employees -->
<div class="container">
    <ul class="list-group">
        <!-- Insert For Loop here -->
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>

{% endblock %}